*.log
*.aux
*.out
*.nav
*.snm
*.toc
*.vrb
*.pyg
*.bbl
*.blg
.*.swp
_minted-part*
*/part1.pdf
*/part2.pdf
*/part3.pdf
*/bib-example.pdf
*/media-graphics.pdf
*/structure-crossref.pdf
*/structure-sections.pdf
*/structure-title.pdf
*/latex-course.tgz
